<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Settings</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        

        <ion-content class="padding" overflow-scroll="true">
                      
              <label class="item item-input" overflow-scroll="true">
                Range:
                <center><span class="col col-50">{{rangeValue}} Miles</span></center>
              </label>
              <div class="card text-center">
                <i class="icon ion-minus-circled"></i>
                <input type="range" min="0" max="20" step="1" ng-model="rangeValue"> 
                <i class="icon ion-plus-circled"></i>
              </div>

              <label class="item item-input" overflow-scroll="true">
                Max # of Places:
                <center><span class="col col-50">{{numPlaces}}</span></center>
              </label>
              <div class="card text-center">
                <i class="icon ion-minus-circled"></i>
                <input type="range" min="0" max="20" step="1" ng-model="numPlaces"> 
                <i class="icon ion-plus-circled"></i>
              </div>

              <div>
                <ion-list>
                  <div ng-repeat="group in groups">
                    <ion-item class="item-stable"
                              ng-click="toggleGroup(group)"
                              ng-class="{active: isGroupShown(group)}">
                        <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                      &nbsp;
                      {{group.name}}
                    </ion-item>
                    <ion-item class="item-accordion"
                              ng-repeat="item in group.items"
                              ng-show="isGroupShown(group)">
                      <ion-radio ng-click="doSearch(item.subId);">{{item.subId}}</ion-radio>
                    </ion-item>
                  </div>
                </ion-list>
              </div>




              <br>

              <center><button align="center" ng-click="update(rangeValue, numPlaces)">Apply Filters</button></center>

              <br>

              <div id="map2"></div>

        </ion-content>
      </ion-modal-view>