<ion-view view-title="Settings">
  <ion-content>
 <br>
 <br>
 <body>
 <p> Here you can adjust your settings! The sliders will allow you to modify how you want to use the app. Check out the User Manual page for detailed information if you're confused! </p>
 
 <br><br>
 
 Adjust Scanning Radius (in miles): <input type="range" min="0" max="50" value="25" step="5" onchange="showNumber(this.value)" />
 <span id="range">25</span>
 
 <br>
 Maximum Number of Items on Screen: <input type="range" min="0" max="20" value="10" onchange="showItemNumber(this.value)" />
 <span id="itemCount">10</span>
 
 
 <script type= "text/javascript" src="JScache.js">
 window.onload = showNumber();
 </script>
 
 <script type= "text/javascript" src="JScache.js">
window.onload = showItemNumber();
 </script>
 
 <br><br>
 Filter based on type of attraction:
 <br>
 
 <input type= "checkbox" name="filter" value= "restaurant"> Restaurants <br>
 <input type= "checkbox" name="filter" value= "monuments"> Monuments <br>
 <input type= "checkbox" name="filter" value= "shopping centers"> Shopping Centers <br>
 <input type= "checkbox" name="filter" value= "museums"> Museums <br>
 <input type= "checkbox" name="filter" value= "busStops"> Bus Stops <br>
 <input type= "checkbox" name="filter" value= "metroStations"> Metro Stops <br>
 <br><br>
 
 Should high traffic areas be disregarded?
    <select name="traffic" id="traffic" value="No">
        <option value= "No"> No </option>
        <option value= "yes"> Yes </option>
    </select>
 <br><br>
 
 Optimization: <br>
 
 Only show places open right now: 
    <select name="openOrNot" id="openOrNot" value="Yes">
        <option value= "No"> No </option>
        <option value = "Yes"> Yes </option>
        </select>
        <br>
        
 Only show the fastest route to desired destinations: 
        <select name="onlyFastest" id="onlyFastest" value="No">
        <option value="No"> No </option>
        <option value="Yes"> Yes</option>
        </select>
        <br>
 
 
 </body>
 
   </ion-content>
</ion-view>